@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
	background: #e2e9f7;
}

.info-bar{
	width: 100%;
	/* position: fixed; */
	background: transparent;
	color: rgb(253, 52, 52);
	top: 0;
}

.info-bar .info-bar-text{
	float: right;
	margin: 0 25px;
}

.info-bar .cate{
	margin-top: 15px;
	margin-left: 25%;
	color: black;
	font-size: 18px;
	font-weight: 500;
	text-decoration: underline;
}

.side-nav{
    width: 250px;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
	transition: .5s ease-in-out;
}
.logo{
    display: block;
    margin-bottom: 30px;
}
.logo-img{
    width: 120px;
	transition: .5s ease-in-out;
}
.nav-links{
    list-style: none;
    position: relative;
}
.nav-links li{
    padding: 10px 0;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
}
.nav-links li a .icon{
    margin-right: 15px;
    font-size: 22px;
}
.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.2%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.3s;
}
.nav-links li:hover a{
    color: #0d74f5;
}
.nav-links li:hover ~ .active{
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
    top: 2.6%;
}
.nav-links li:nth-child(2):hover ~ .active{
    top: 27.6%;
}
.nav-links li:nth-child(3):hover ~ .active{
    top: 52.6%;
}
.nav-links li:nth-child(4):hover ~ .active{
    top: 77.6%;
}

a h1,h3{
	margin-top: 5px;
	margin-bottom: 5px;
}
a h1:hover{
	color: #2fb1d5;
}
a h3:hover{
	color: #2fb1d5;
}
a{
	text-decoration: none;
	color: black;
}

.arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transition: 0.5s ease border-width;
  }

.arrow:hover{
	  cursor: pointer;
	  border-width: 0 3px 3px 0;
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
  }

  .up:focus ~ .down {
	  filter: grayscale(1);
  }
  
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }

 table{
	min-width: 100%;
	margin-top: 10px;
	border:none;
	font-weight: 650;
}

.soft{
	display: flex;
	
	flex-direction: column;
	margin: auto 5px;
}

 table img{
	width: 150px;
}

table .th-pic{
	width: 15%;
}
table .th-cat{
	width: 12%;
}
table .th-tit{
	width: 45%;
}
table .th-time{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
table td .th-action{
	width: 50%;
}

.footer{
	background-color: #2fa1b3;
	height: 100%;
	width: 100%;
	display: flex;
	margin: 0 auto;
	align-items: center;
}

.footer .search{
	margin-right: 15%;
	background-color: white;
}

.main{
	position: absolute;
	margin-top: 8%;
	margin-left: 19%;
	padding-left: 20px;
	transition: .5s ease-in-out;
}

.logout{
	margin-left: 50%;
}

.logout a{
	color: black;
	text-decoration: none;
}

.action button{
	width: 50%;
	height: 30px;
	font-weight: 600;
	border: none;
	color: floralwhite;
}

.action button:hover{
	cursor: pointer;
	filter: brightness(1.2);
}

.work_del{
	background-color: rgb(248, 78, 78);
	transition: .3s ease-in-out filter;
}

.work_edit{
	background-color: rgb(78, 78, 255);
	transition: .3s ease-in-out filter;
	margin: 0 auto;
}

.work_del:hover{
	cursor: pointer;
}

h4{
	margin-left:  50px;
}

.login {
	margin-bottom: 10px;
	border: 1px solid #2fa1b3 ;
	padding: 0px 5px;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.login input{
	transition: 0.5s;
	outline: none;
	border:none;
	font-size:14px;
	padding: 5px;
}

.work{
	background-color: transparent;
	padding: 10px 20px;
}

table{
	border: 1px solid #abd2fd;
	padding: 5px;
	border-collapse: collapse;
}

table th{
	background-color: #abd2fd;
}

table td {
	font-weight: lighter;
}

table tr,td,th {
	padding: 5px;
}

table .stripe{
	background-color: #f2f2f2;
}

datalist, option{
	width: 100%;
}


  #container{
	background-color: transparent;
	width: 600px;
	min-height:80%;
	height: 1000px;
	margin: 0 auto;
	position: relative;
	padding: 10px 20px;
}
#chat_here{
	position: absolute;
	bottom:10px;
}
#chat_here textarea{
	margin-left: 20px;
	width: 300px;
	resize: none;
}
#chat_here input{
	float:right;
	margin-top:15px;
	margin-left: 5px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.actived a{
	text-decoration: underline;
}

.btn{
    background: #51a0fa;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(255, 255,255,0.35),
    inset -3px -3px 5px rgba(0,0,0,0.5);
    color: #fff;
    cursor: pointer;
	border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    /* margin-top: 10px; */
	margin-left: 30px;
	transition: .3s ease-in-out filter;
}

.addnew{
	width: 150px;
	height: 40px;
}

.analyze{
	width: 100px;
}

.btn:hover{
	filter: brightness(1.1);
}

.showdata{
	float: right;
	margin-right: 2%;
	margin-top: 25px;;
}

.showdata select{
	outline: none;
	border-radius: 5px;
}

.container-home{
    margin: 0 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-home .box-home{
    position: relative;
    width: 400px;
    height: 100px;
    background: #fff;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.025);
}
.container-home .box-home:nth-child(2){
    transform: translate(70px);
	transition: 0.5s ease-in-out;
}

.container-home:hover .box-home:nth-child(2){
    transform: translateX(0);
	transition: 0.5s ease-in-out;
}

.container-home .box-home::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--clr);
    transition: 0.5s ease-in-out;
}
.container-home .box-home:hover::before{
    width: 100%;
}
.container-home .box-home .content-home{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.container-home .box-home .content-home .icon-home{
    position: relative;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-home .box-home .content-home .icon-home ion-icon{
    font-size: 2.5em;
    color: var(--clr);
    transition: 0.5s ease-in-out;
}
.container-home .box-home:hover .content-home .icon-home ion-icon{
    color: #fff;
}
.container-home .box-home .content-home .text-home h3{
    font-weight: 500;
    color: var(--clr);
}
.container-home .box-home .content-home .text-home p{
    font-size: 0.9em;
    color: #999;
    transition: 0.5s ease-in-out;
}
.container-home .box-home:hover .content-home .text-home h3,
.container-home .box-home:hover .content-home .text-home p{
    color: #fff;
}


@media only screen and (max-width:1150px){
	.side-nav{
		width: 110px;
	}
	.nav-links li a p{
		display: none;
	}
	.logo-img{
		width: 55px;
	}
	.main{
		margin-left: 10%;
	}
}