﻿@using FA.JustBlog.Core.Models;
@using FA.JustBlog.Core.Models.ViewModels;
@using FA.JustBlog.Core.Repository;

@inject IUnitOfWork unitOfWork


 <div class="card mb-3"> 
     <h3 style="padding: 2px 0 0 5px;">Top 5 Post Has Most view</h3>
     <div class="card-body col-12">
        @foreach (var p in unitOfWork.Post.GetAll().OrderByDescending(p => p.PostedOn).Take(5))
        {
            <a class="card-title" asp-controller="Post" asp-action="Detail" asp-route-year="@p.PostedOn.Year" 
             asp-route-month="@p.PostedOn.Month" asp-route-urlSlug="@p.UrlSlug" style="font-size:25px">
                @p.Title
            </a>
            <hr />
        }   
    </div>
 </div>
