﻿@using FA.JustBlog.Core.Models;
@using FA.JustBlog.Core.Models.ViewModels;
@using FA.JustBlog.Core.Repository;

@inject IUnitOfWork unitOfWork

<div class="dropdown">
  <a class="dropdown-toggle text-light navbar-text" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </a>
   <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach(var c in unitOfWork.Category.GetAll())
        {
           <li>
                <a class="dropdown-item" asp-area="Customer" asp-controller="Post" asp-route-id="@c.Id" asp-action="GetPostByCategoryId" >
                    @c.Name
                </a>
           </li>
        }
   </ul>
</div>