﻿@using FA.JustBlog.Core.Models;
@using FA.JustBlog.Core.Models.ViewModels;
@using FA.JustBlog.Core.Repository;

@inject IUnitOfWork unitOfWork

 <div class="card mb-3"> 
     <h3>Top 5 Post Has Most view</h3>
     <div class="card-body col-12">
        @foreach (var p in unitOfWork.Post.GetAll().OrderByDescending(p => p.ViewCount).Take(5))
        {
            <div class="card-body col-12">
                <a asp-controller="Post" asp-action="Detail"
                asp-route-year="@p.PostedOn.Year" asp-route-month="@p.PostedOn.Month" asp-route-urlSlug="@p.UrlSlug" 
                class="card-title" style="font-size:25px">@p.Title</a>
                <h6 class="card-subtitle mb-2 text-muted">Posted at @p.PostedOn with rate @p.Rate by @p.ViewCount view(s)</h6>
            </div>
            <hr />
        }   
    </div>
 </div>
