<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="logos/035.webp" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="side-nav">
            <a href="admin-site.php" class="logo">
                <img src="logos/logo-114.png" alt="" class="logo-img">
            </a>
            <ul class="nav-links">
                <li {!Home!}><a href="index.php"><div class="icon"><ion-icon name="home-outline"></ion-icon></div><p>Home</p></a></li>
                <li {!News!}><a href="?cate=News"><div class="icon"><ion-icon name="newspaper-outline"></ion-icon></div><p>News</p></a></li>
                <li {!Tickets!}><a href="?cate=Tickets"><div class="icon"><ion-icon name="person-outline"></ion-icon></div><p>Tickets</p></a></li>
                <li {!Booked Tickets!}><a href="?cate=Booked Tickets"><div class="icon"><ion-icon name="ticket-outline"></ion-icon></div><p>Booked Tickets</p></a></li>
                <div class="active"></div>
            </ul>
        </div>
    </div>
    <img src="" alt="">