﻿@model IEnumerable<Post>

    <div class="row">
        <h3>Top View Post</h3>
    @foreach (var p in Model)
    {
        <div class="cols-4 p-5"> 
            <div>
              <a asp-controller="Post" asp-action="Detail" asp-route-id="@p.Id" class="card-title" style="font-size:18px">@p.Title</a>
             <p class="card-text">@p.PostedOn</p>
            </div>
        </div>
        <hr />
    }
    </div>

