﻿@model FA.JustBlog.Core.Models.ViewModels.PostVM

<h1>@Model.Post.Title</h1>
<h6 class="card-subtitle mb-2 text-muted">@Model.Post.PostedOn</h6>
<p id="tiny">@Model.Post.ShortDescription</p>
<hr />
<p>Category: 
    <a asp-controller="Post", asp-action="GetPostByCategoryId" asp-route-id="@Model.Category.Id">@Model.Category.Name</a>
</p>
<p>Tag: 
  @foreach(var t in @Model.TagList)
   {
        <a class="tag" asp-controller="Post", asp-action="GetPostByTagId" asp-route-id="@t.Id">@t.Name</a>
        <span>&nbsp;|&nbsp;</span>
   }
</p>
  

@section Scripts{
    <script>
        tinymce.init({
          
        });
        </script>
        }
