﻿@model IEnumerable<Post>



<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Post List Of @ViewBag.CategoryName</h2>
    </div>
</div>
    <br />
@foreach(var p in @Model)
{
 <div class="card mb-3"> 
    <div class="card-body col-12">
        <a asp-controller="Post" asp-action="Detail"
        asp-route-year="@p.PostedOn.Year" asp-route-month="@p.PostedOn.Month" asp-route-urlSlug="@p.UrlSlug" 
        class="card-title" style="font-size:25px">@p.Title</a>
        <h6 class="card-subtitle mb-2 text-muted">@p.PostedOn</h6>
        <p class="card-text">@p.ShortDescription</p>
    </div>
 </div>



}
