﻿@model IEnumerable<FA.JustBlog.Core.Models.Category>



<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Category List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Create new category
        </a>
    </div>

</div>
    <br />


@foreach(var category in Model)
{
 <div class="card mb-3"> 
    <div class="card-body">
        <h5>@category.Name</h5>
        <p class="card-text">@category.Description</p>

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-id="@category.Id" class="btn btn-primary"> Edit </a>
            <a asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger"
            onclick="return confirm('Are you sure you want to delete this?')">Delete </a>
        </div>
        
    </div>
    
 </div>

}
