﻿@model FA.JustBlog.Core.Models.Category

<form method="post">
    <input asp-for="Id" hidden />

    <div class="border p-3 m-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Category</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UrlSlug"></label>
            <input asp-for="UrlSlug" class="form-control"/>
            <span asp-validation-for="UrlSlug" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>      
        </div>
       
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>
