/*------------------------------------------------------------------
Template Name:  N. agency - Responisve Landing Page for Agency
Version:        1.0
Last update:    12/17/2017
Author:         tabthemes
URL:            http://www.tabthemes.com/
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

01. General Styles
02. Custom Button
03. Typography
04. Block Spacing


-------------------------------------------------------------------*/
/*--------------------------------------------------
    01. General Styles 
---------------------------------------------------*/
html {
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #fff;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #767676;
}
a {
  color: #ed5f5e;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus,
a:active {
  color: #e51b1a;
  text-decoration: none;
  outline: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
}
img {
  width: 100%;
}
::-moz-selection {
  color: #fcfcfc;
  text-shadow: none;
  background: #0f0f0f;
}
::selection {
  color: #fcfcfc;
  text-shadow: none;
  background: #0f0f0f;
}
.label-theme {
  background-color: #ed5f5e;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.label-theme:hover {
  background-color: #e51b1a;
}
.label-theme a {
  color: #fff;
}
section {
  width: 100%;
  display: block;
}
.light-bg {
  background-color: #f8f8f8;
}
.dark-bg {
  background-color: #434343;
}
.overlay-light,
overlay-light .YTPOverlay {
  position: relative;
}
.overlay-light:before,
overlay-light .YTPOverlay:before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
}
.overlay-dark,
.overlay-dark .YTPOverlay {
  position: relative;
}
.overlay-dark:before,
.overlay-dark .YTPOverlay:before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.rs-video-overlay .rs-fullvideo-cover {
  background: rgba(0, 0, 0, 0.3);
}
.image-bg {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-bg {
  position: relative;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.fixed-height-large {
  min-height: 800px;
}
.fixed-height-medium {
  min-height: 700px;
}
.fixed-height-small {
  min-height: 600px;
}
.vertical-section {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.vertical-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
@-webkit-keyframes scroll-down-anim {
  0% {
    bottom: 2px;
  }
  50% {
    bottom: 7px;
  }
  100% {
    bottom: 2px;
  }
}
@keyframes scroll-down-anim {
  0% {
    bottom: 2px;
  }
  50% {
    bottom: 7px;
  }
  100% {
    bottom: 2px;
  }
}
.scroll-down {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.scroll-down:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin: 0 0 0 -10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 1;
}
.scroll-down:hover:before {
  background: #ed5f5e;
  border: 1px solid #ed5f5e;
}
.scroll-down .scroll-down-icon {
  display: block;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  position: absolute;
  left: 50%;
  bottom: 4px;
  color: #fff;
  font-size: 15px;
  -webkit-animation: scroll-down-anim 1s infinite;
  animation: scroll-down-anim 1s infinite;
  z-index: 2;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 9999;
  text-align: center;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  opacity: 0;
}
#back-to-top i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 20px;
  background: #ed5f5e;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#back-to-top i:hover {
  background: #e51b1a;
}
#back-to-top.show {
  opacity: 1;
}
/* clear the first in row for any block that has the class "multi-columns-row" */
.multi-columns-row .col-xs-6:nth-child(2n + 3) {
  clear: left;
}
.multi-columns-row .col-xs-4:nth-child(3n + 4) {
  clear: left;
}
.multi-columns-row .col-xs-3:nth-child(4n + 5) {
  clear: left;
}
.multi-columns-row .col-xs-2:nth-child(6n + 7) {
  clear: left;
}
.multi-columns-row .col-xs-1:nth-child(12n + 13) {
  clear: left;
}
@media (min-width: 768px) {
  /* reset previous grid */
  .multi-columns-row .col-xs-6:nth-child(2n + 3) {
    clear: none;
  }
  .multi-columns-row .col-xs-4:nth-child(3n + 4) {
    clear: none;
  }
  .multi-columns-row .col-xs-3:nth-child(4n + 5) {
    clear: none;
  }
  .multi-columns-row .col-xs-2:nth-child(6n + 7) {
    clear: none;
  }
  .multi-columns-row .col-xs-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .multi-columns-row .col-sm-6:nth-child(2n + 3) {
    clear: left;
  }
  .multi-columns-row .col-sm-4:nth-child(3n + 4) {
    clear: left;
  }
  .multi-columns-row .col-sm-3:nth-child(4n + 5) {
    clear: left;
  }
  .multi-columns-row .col-sm-2:nth-child(6n + 7) {
    clear: left;
  }
  .multi-columns-row .col-sm-1:nth-child(12n + 13) {
    clear: left;
  }
}
@media (min-width: 992px) {
  /* reset previous grid */
  .multi-columns-row .col-sm-6:nth-child(2n + 3) {
    clear: none;
  }
  .multi-columns-row .col-sm-4:nth-child(3n + 4) {
    clear: none;
  }
  .multi-columns-row .col-sm-3:nth-child(4n + 5) {
    clear: none;
  }
  .multi-columns-row .col-sm-2:nth-child(6n + 7) {
    clear: none;
  }
  .multi-columns-row .col-sm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for medium columns */
  .multi-columns-row .col-md-6:nth-child(2n + 3) {
    clear: left;
  }
  .multi-columns-row .col-md-4:nth-child(3n + 4) {
    clear: left;
  }
  .multi-columns-row .col-md-3:nth-child(4n + 5) {
    clear: left;
  }
  .multi-columns-row .col-md-2:nth-child(6n + 7) {
    clear: left;
  }
  .multi-columns-row .col-md-1:nth-child(12n + 13) {
    clear: left;
  }
}
@media (min-width: 1200px) {
  /* reset previous grid */
  .multi-columns-row .col-md-6:nth-child(2n + 3) {
    clear: none;
  }
  .multi-columns-row .col-md-4:nth-child(3n + 4) {
    clear: none;
  }
  .multi-columns-row .col-md-3:nth-child(4n + 5) {
    clear: none;
  }
  .multi-columns-row .col-md-2:nth-child(6n + 7) {
    clear: none;
  }
  .multi-columns-row .col-md-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for large columns */
  .multi-columns-row .col-lg-6:nth-child(2n + 3) {
    clear: left;
  }
  .multi-columns-row .col-lg-4:nth-child(3n + 4) {
    clear: left;
  }
  .multi-columns-row .col-lg-3:nth-child(4n + 5) {
    clear: left;
  }
  .multi-columns-row .col-lg-2:nth-child(6n + 7) {
    clear: left;
  }
  .multi-columns-row .col-lg-1:nth-child(12n + 13) {
    clear: left;
  }
}
/*--------------------------------------------------
    02. Custom Button 
---------------------------------------------------*/
.btn-main {
  background-color: #434343;
  padding: 10px 18px;
  border: 1px solid #434343;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  box-shadow: inset 0 0 0 0 #000;
  -webkit-box-shadow: inset 0 0 0 0 #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main .active {
  border-color: #000;
  color: #fff;
  box-shadow: inset 0 100px 0 0 #000;
  -webkit-box-shadow: inset 0 100px 0 0 #000;
}
.btn-main.btn-2x {
  padding: 12px 36px;
  font-size: 14px;
}
.btn-main.btn-black {
  background-color: #000;
  border: 1px solid #000;
  box-shadow: inset 0 0 0 0 #262626;
  -webkit-box-shadow: inset 0 0 0 0 #262626;
  color: #fff;
}
.btn-main.btn-black:hover,
.btn-main.btn-black:focus,
.btn-main.btn-black:active,
.btn-main.btn-black .active {
  box-shadow: inset 0 100px 0 0 #262626;
  -webkit-box-shadow: inset 0 100px 0 0 #262626;
  border: 1px solid #262626;
  color: #fff;
}
.btn-main.btn-white {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: inset 0 0 0 0 #d9d9d9;
  -webkit-box-shadow: inset 0 0 0 0 #d9d9d9;
  color: #434343;
}
.btn-main.btn-white:hover,
.btn-main.btn-white:focus,
.btn-main.btn-white:active,
.btn-main.btn-white .active {
  box-shadow: inset 0 100px 0 0 #d9d9d9;
  -webkit-box-shadow: inset 0 100px 0 0 #d9d9d9;
  border: 1px solid #d9d9d9;
  color: #434343;
}
.btn-main.btn-theme {
  background-color: #ed5f5e;
  border: 1px solid #ed5f5e;
  box-shadow: inset 0 0 0 0 #e51b1a;
  -webkit-box-shadow: inset 0 0 0 0 #e51b1a;
}
.btn-main.btn-theme:hover,
.btn-main.btn-theme:focus,
.btn-main.btn-theme:active,
.btn-main.btn-theme .active {
  box-shadow: inset 0 100px 0 0 #e51b1a;
  -webkit-box-shadow: inset 0 100px 0 0 #e51b1a;
  border: 1px solid #e51b1a;
}
.btn-main.btn-transparent {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}
.btn-main.btn-transparent:hover,
.btn-main.btn-transparent:focus,
.btn-main.btn-transparent:active,
.btn-main.btn-transparent .active {
  border-color: #000;
  background-color: #000;
  color: #fff;
}
.btn-main.btn-transparent-light {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  box-shadow: inset 0 0 0 0 #fff;
  -webkit-box-shadow: inset 0 0 0 0 #fff;
}
.btn-main.btn-transparent-light:hover,
.btn-main.btn-transparent-light:focus,
.btn-main.btn-transparent-light:active,
.btn-main.btn-transparent-light .active {
  border-color: #fff;
  box-shadow: inset 0 100px 0 0 #fff;
  -webkit-box-shadow: inset 0 100px 0 0 #fff;
  color: #000;
}


/*--------------------------------------------------
    03. Typography 
---------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: #434343;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4em;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
  line-height: 1.6;
}
p {
  line-height: 1.8em;
}
.section-title-bg {
  background-color: #f8f8f8;
  padding: 50px 0;
}
.section-subtitle {
  color: #a9a9a9;
}
.bigger-font {
  font-size: 50px;
}
.white-color,
.white-color h1,
.white-color h2,
.white-color h3,
.white-color h4,
.white-color h5,
.white-color h6,
.white-color p,
.white-color li {
  color: #fff !important;
}
.black-color,
.black-color h1,
.black-color h2,
.black-color h3,
.black-color h4,
.black-color h5,
.black-color h6,
.black-color p,
.black-color li {
  color: #000 !important;
}
.theme-color,
.theme-color h1,
.theme-color h2,
.theme-color h3,
.theme-color h4,
.theme-color h5,
.theme-color h6,
.theme-color p,
.theme-color li {
  color: #ed5f5e !important;
}
.divider {
  background-color: #434343;
  height: 1px;
  width: 60px;
  margin: 20px 0;
}
.divider-small {
  background-color: #434343;
  height: 1px;
  width: 30px;
  margin: 15px 0;
}
.divider-center {
  background-color: #434343;
  height: 1px;
  width: 60px;
  margin: 20px auto;
}
.divider-center-small {
  background-color: #434343;
  height: 1px;
  width: 30px;
  margin: 15px auto;
}
.divider-white {
  background-color: #fff;
}
.divider-black {
  background-color: #000;
}
.divider-theme {
  background-color: #ed5f5e;
}
blockquote {
  margin: 20px 0;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  font-style: italic;
  color: #000;
  border-left: 0;
}
/*--------------------------------------------------
    04. Block Spacing
---------------------------------------------------*/
.p-0 {
  padding: 0;
}
.no-padding {
  padding: 0!important;
}
.no-margin {
  margin: 0!important;
}
.p-top-10 {
  padding-top: 10px;
}
.p-top-20 {
  padding-top: 20px;
}
.p-top-30 {
  padding-top: 30px;
}
.p-top-40 {
  padding-top: 40px;
}
.p-top-50 {
  padding-top: 50px;
}
.p-top-60 {
  padding-top: 60px;
}
.p-top-80 {
  padding-top: 80px;
}
.p-top-100 {
  padding-top: 100px;
}
.p-top-140 {
  padding-top: 140px;
}
.p-bottom-10 {
  padding-bottom: 10px;
}
.p-bottom-20 {
  padding-bottom: 20px;
}
.p-bottom-30 {
  padding-bottom: 30px;
}
.p-bottom-40 {
  padding-bottom: 40px;
}
.p-bottom-50 {
  padding-bottom: 50px;
}
.p-bottom-60 {
  padding-bottom: 60px;
}
.p-bottom-80 {
  padding-bottom: 80px;
}
.p-bottom-100 {
  padding-bottom: 100px;
}
.p-bottom-140 {
  padding-bottom: 140px;
}
.m-top-10 {
  margin-top: 10px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-top-30 {
  margin-top: 30px;
}
.m-top-40 {
  margin-top: 40px;
}
.m-top-50 {
  margin-top: 50px;
}
.m-top-60 {
  margin-top: 60px;
}
.m-top-80 {
  margin-top: 80px;
}
.m-top-100 {
  margin-top: 100px;
}
.m-top-140 {
  margin-top: 140px;
}
.m-bottom-10 {
  margin-bottom: 10px;
}
.m-bottom-20 {
  margin-bottom: 20px;
}
.m-bottom-30 {
  margin-bottom: 30px;
}
.m-bottom-40 {
  margin-bottom: 40px;
}
.m-bottom-50 {
  margin-bottom: 50px;
}
.m-bottom-60 {
  margin-bottom: 60px;
}
.m-bottom-80 {
  margin-bottom: 80px;
}
.m-bottom-100 {
  margin-bottom: 100px;
}
.m-bottom-140 {
  margin-bottom: 140px;
}
/*--------------------------------------------------
    06. Page Preloader
---------------------------------------------------*/
#preloader {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fcfcfc;
  z-index: 10000;
  position: fixed;
  display: block;
}
#preloader #spinner {
  position: relative;
  height: 95px;
  width: 95px;
  top: 45%;
  margin: 0 auto -45px;
  border-radius: 100%;
  -webkit-animation: rotation .75s infinite linear;
  -moz-animation: rotation .75s infinite linear;
  -o-animation: rotation .75s infinite linear;
  animation: rotation .75s infinite linear;
}
#preloader #spinner:before {
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  height: 100%;
  width: 100%;
  border-top: 2px solid #0f0f0f;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 100%;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*--------------------------------------------------
    07. Navigation 
---------------------------------------------------*/
.navbar {
  margin-bottom: 0;
  border: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.navbar .navigation {
  background-color: #fff;
}
.navbar .container-fluid {
  padding: 0 50px;
}
.navbar-header {
  /* width: 20%; */
  padding-right: 15px;
}
.navbar-header .logo-container {
  padding: 0 15px;
  float: left;
}
.navbar-header .logo-container .logo-wrap {
  display: table;
  width: 100%;
}
.navbar-header .logo-container .logo-wrap a {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-header .logo-container .logo-wrap.shrink a {
  height: 70px;
}
.navbar-header .logo-container .logo-wrap img {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-nav {
  margin: 0;
  float: none;
  display: inline-block;
}
.navbar-nav li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 0 17px;
  line-height: 70px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-nav li:last-child a {
  padding-right: 0;
}
.navbar .nav-wrap {
  width: auto;
  float: right;
}
.navbar-collapse {
  padding: 0;
  border-top: none;
}
.navbar-collapse.in {
  overflow-x: hidden;
}
.nav-solid {
  height: 70px;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.nav-solid .navbar-nav > li > a {
  color: #434343;
}
.nav-solid .navigation {
  position: fixed;
  width: 100%;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.nav-transparent .navbar .navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-transparent .navbar .navigation.sticky {
  background-color: #2a2a2a;
}
.nav-transparent .navbar-default {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}
.nav-transparent .navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navigation.sticky .navbar-nav > li > a {
  line-height: 70px;
}
.navbar-nav > li > a:hover,
.nav-transparent .navbar-default .navbar-nav > li > a:hover,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
  opacity: 1;
  color: #ed5f5e;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  text-decoration: none;
  border-color: #f7f7f7;
}
@media (max-width: 991px) {
  .navbar .nav-wrap {
    width: 100%;
    padding: 0;
    min-height: 0;
  }
  .navbar-header {
    width: 100%;
    padding-right: 0;
    float: none;
  }
  .navbar-header .logo-container .logo-wrap a {
    height: 70px;
  }
  .navbar-header .navbar-toggle {
    display: block;
  }
  .navbar-left,
  .navbar-nav,
  .navbar-right {
    float: none !important;
  }
  .navbar-nav {
    width: 100%;
  }
  .navbar-nav li {
    float: none;
  }
  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
    overflow: auto !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar .container-fluid {
    padding: 0 20px;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .nav-transparent {
    height: 70px;
  }
  .nav-transparent .navbar .navigation {
    background-color: #2a2a2a;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav-transparent .navbar .navigation.sticky {
    background-color: #2a2a2a;
  }
  .nav-transparent .container-fluid {
    padding: 0 15px;
  }
  .nav-transparent .navbar-collapse {
    border-top: 1px solid #5d5d5d;
  }
  .nav-transparent .nav > li > a {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #5d5d5d;
    line-height: 20px;
  }
  .nav-solid,
  .nav-solid .navigation {
    position: relative;
  }
  .nav-solid .navbar-nav {
    padding: 0;
  }
  .nav-solid .navbar-collapse {
    border-top: 1px solid #f7f7f7;
  }
  .nav-solid .nav > li > a {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #f7f7f7;
    line-height: 20px;
  }
}
/* Navigation Toggle
-------------------------------------------------------*/
.navbar-toggle {
  margin-top: 18px;
  border: none;
  z-index: 50;
  margin-right: 5px;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
  width: 18px;
}
.nav-solid .navbar-toggle .icon-bar {
  background-color: #434343;
}
.nav-transparent .navbar-toggle:focus .icon-bar,
.nav-transparent .navbar-toggle:hover .icon-bar {
  background-color: #f7f7f7;
}
.navbar-toggle:focus,
.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
/*--------------------------------------------------
    08. Intro Section
---------------------------------------------------*/
/* Slides */
.rev_slider .tp-caption.NotGeneric-Title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.rev_slider .tp-caption.NotGeneric-SubTitle {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
.rev_slider .tp-caption.NotGeneric-Text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.uranus.tparrows {
  background: #000;
  width: 32px;
  height: 32px;
}
.uranus.tparrows:before {
  font-size: 16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
/* Index_2 */
.intro-content h1 {
  font-size: 42px;
  font-weight: 700;
}
/*--------------------------------------------------
    09. Services Section
---------------------------------------------------*/
.service {
  background-color: #f8f8f8;
  padding: 40px 30px 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-icon {
  background-color: #ed5f5e;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 23px;
  line-height: 42px;
}
.service h4 {
  text-transform: uppercase;
  margin-top: 35px;
}
.service-text {
  margin: 10px 0;
}
.service.service-type-2 {
  background-color: transparent;
  padding: 0;
}
.service.service-type-2 .service-header h4 {
  margin-top: 0;
}
.service.service-type-2 .service-header .service-icon {
  background-color: transparent;
  margin-right: 25px;
  color: #ed5f5e;
  border: 1px solid #ed5f5e;
  width: 36px;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service.service-type-2 .service-text {
  margin: 0 0 30px 60px;
}
.service.service-type-2:hover .service-header .service-icon {
  background: #ed5f5e;
  color: #fff;
}
/*--------------------------------------------------
    11. Portflio Section
---------------------------------------------------*/
.mfp-fade.mfp-bg {
  opacity: 0;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.portfolio .pf-image {
  overflow: hidden;
  position: relative;
}
.portfolio .pf-image img {
  width: 100%;
  display: block;
}
.portfolio .pf-image .overlay .overlay-caption {
  display: table;
  height: 100%;
  width: 100%;
}
.portfolio .pf-image .overlay .overlay-caption .overlay-content {
  display: table-cell;
  vertical-align: middle;
}
.pf-style .overlay {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: -100%;
  z-index: 2;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  overflow: hidden;
}
.pf-style .overlay-content {
  opacity: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.pf-style:hover .overlay {
  top: 0;
}
.pf-style:hover .overlay-content {
  opacity: 1;
  background-color: rgba(237, 95, 94, 0.9);
}
.portfolio.no-filter .pf-item {
  float: left;
}
.portfolio.gutter .pf-item {
  padding: 10px;
}
.portfolio.col-1 .pf-item {
  width: 100%;
}
.portfolio.col-2 .pf-item {
  width: 49.99%;
}
.portfolio.col-3 .pf-item {
  width: 33.3333333%;
}
.portfolio.col-4 .pf-item {
  width: 25%;
}
.pf-filter li {
  margin-bottom: 30px;
}
.pf-filter li .iso-button {
  background-color: #fff;
  color: #434343;
  padding: 10px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  font-size: 12px;
  letter-spacing: 2px;
}
.pf-filter li .iso-button:hover {
  color: #ed5f5e;
}
.pf-filter li .iso-active {
  color: #ed5f5e;
}
.pf-filter.pf-filter-gray .iso-button {
  background-color: #f8f8f8;
  color: #434343;
}
.pf-filter.pf-filter-gray .iso-button:hover {
  color: #ed5f5e;
}
.pf-filter.pf-filter-gray .iso-active {
  color: #ed5f5e;
}
@media screen and (max-width: 992px) {
  .portfolio.col-3 .pf-item,
  .portfolio.col-4 .pf-item {
    width: 49.99%;
  }
}
@media screen and (max-width: 540px) {
  .portfolio.col-2 .pf-item,
  .portfolio.col-3 .pf-item,
  .portfolio.col-4 .pf-item {
    width: 100%;
  }
}
/*--------------------------------------------------
 FoodZone
---------------------------------------------------- */
.foodzone-row{
  width: 100%;
}

.foodzone-title {
  width: 80%;
  margin: auto;
}

.foodzone-row {
  display: flex;
  width: 100%;
}

.foodzone-img, .foodzone-info {
  width: calc(100% / 2);
  height: 30em;
  margin-bottom: 0.2rem;
}

.foodzone-img img {
  width: 100%;
  height:93%;
}

.foodzone-img1 img{
  padding: 0rem 2rem 2rem 0;
}

.foodzone-img2 img{
  padding: 0rem 0rem 2rem 2rem;
}

/*--------------------------------------------------
    12. Video  Section
---------------------------------------------------*/
.video-caption h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}
/*--------------------------------------------------
    13. Team  Section
---------------------------------------------------*/
.team-item {
  text-align: center;
}
.team-item-image {
  position: relative;
  overflow: hidden;
}
.team-item-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 95, 94, 0.9);
  top: -100%;
  left: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.team-item-image img {
  width: 100%;
}
.team-item-icons {
  position: absolute;
  padding: 15px 0;
  height: 50px;
  width: 100%;
  top: 50%;
  margin-top: -25px;
  font-size: 15px;
}
.team-item-icons a {
  color: #fff;
  margin: 0 10px;
}
.team-item-icons a i {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  font-size: 15px;
  line-height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-item-icons a i:hover {
  background: #fff;
  color: #ed5f5e;
}
.team-item-info {
  background: #fafafa;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}
.team-item-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
.team-item-position {
  font-size: 11px;
  color: #aaaaaa;
}
.team-item:hover .team-item-image-overlay {
  top: 0;
}
.team-item:hover .team-item-name {
  color: #ed5f5e;
}
@media screen and (max-width: 540px) {
  #team .row [class*="col-"] {
    width: 100%;
  }
  #team .team-item-icons {
    font-size: 24px;
  }
}
@media screen and (max-width: 360px) {
  #team .team-item-icons {
    font-size: 15px;
  }
}
/*--------------------------------------------------
    14. Progress/ Our Skills
---------------------------------------------------*/
.progress-heading p {
  margin: 10px 0 0;
  font-size: 0.8em;
}
.progress {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f0f0f0;
}
.progress.progress-thin {
  height: 3px;
}
.progress-bar {
  background-color: #ed5f5e;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*--------------------------------------------------
    15. Accordion/ Why Choose Us
---------------------------------------------------*/
.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-group .panel {
  border-radius: 0;
  border: none;
}
.panel-group .panel + .panel {
  margin-top: 1px;
}
.panel-default .panel-heading {
  background: none;
  border: none;
  padding: 0;
}
.panel-title {
  font-size: 14px;
  text-transform: capitalize;
  border: none;
}
.panel-title a {
  position: relative;
  background: #ed5f5e;
  color: #fff;
  display: block;
  padding: 22px 40px;
  border-top: 1px solid #eeeeee;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.panel-title a:before {
  content: '-';
  text-align: center;
  width: 28px;
  height: 28px;
  font-size: 24px;
  line-height: 26px;
  position: absolute;
  border-radius: 0;
  top: 15px;
  right: 13px;
}
.panel-title a.collapsed {
  background-color: transparent;
  color: #434343;
  border-top: none;
}
.panel-title a.collapsed:before {
  content: '+';
}
.panel-body {
  padding: 25px 40px;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: none;
}
/*--------------------------------------------------
    16. Stat
---------------------------------------------------*/
.stat-item {
  overflow: hidden;
}
.stat-item-icon {
  float: left;
  background-color: #ed5f5e;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 23px;
  line-height: 42px;
  margin-right: 18px;
}
.stat-item-number {
  float: left;
  font-weight: 700;
  font-size: 30px;
  margin-right: 18px;
  line-height: 42px;
  min-width: 52px;
}
.stat-item-text {
  padding-top: 4px;
  padding-left: 62px;
}
/*Index 2*/
.stat-item.stat-item-type-2 {
  text-align: center;
}
.stat-item.stat-item-type-2 .stat-item-icon {
  float: none;
  margin: 0 auto;
  padding-bottom: 20px;
  background: transparent;
  border: 1px solid #fff;
  width: 36px;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.stat-item.stat-item-type-2 .stat-item-number {
  float: none;
  font-size: 44px;
  margin-right: 0;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.stat-item.stat-item-type-2 .stat-item-text {
  padding-top: 10px;
  padding-left: 0;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  #stat .row [class*="col-"] {
    width: 100%;
  }
}
/*--------------------------------------------------
    17. Testimonial
---------------------------------------------------*/
.testimonial {
  position: relative;
}
.testimonial-item {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.testimonial-desc {
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: 1px;
}
.testimonial-thumb img {
  margin: 40px auto 0;
  width: 60px !important;
  border-radius: 50px;
  border: 2px solid #fff;
}
.testimonial-icon i {
  font-size: 42px;
  margin: 0 auto 10px;
  color: #ed5f5e;
}
.testimonial-author {
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
}
/*--------------------------------------------------
    18. Blog
---------------------------------------------------*/
.blog-index {
  padding: 60px 0;
}
.blog {
  background-color: #f8f8f8;
}
.blog-post-info {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 25px;
  color: #999999;
  font-size: 0.8em;
  font-style: italic;
}
.blog-post-info .time {
  float: left;
}
.blog-post-info .comments {
  float: right;
}
.blog-post-info .comments a {
  color: #999999;
}
.blog-post-info .comments a:hover {
  color: #ed5f5e;
}
.blog-post-info i {
  margin-right: 5px;
}
.blog-post-body {
  padding: 15px 25px 25px;
}
.blog-post-body h4 {
  text-transform: capitalize;
}
.blog-post-body h4 a {
  color: #5d5d5d;
}
.blog-post-body h4 a:hover {
  color: #ed5f5e;
}
.blog-post-body a.read-more {
  font-weight: 700;
}
.postSingle .postTitle {
  padding-bottom: 10px;
}
.postSingle .postTitle h1 {
  font-size: 24px;
  margin-bottom: 5px;
}
.postSingle .postMeta {
  color: #808080;
  font-size: 0.9em;
  font-style: italic;
  padding: 10px 20px;
  margin-bottom: 30px;
  background: #f8f8f8;
}
.postSingle .postMeta a {
  color: #808080;
}
.postSingle .postMeta a:hover {
  color: #ed5f5e;
}
.postSingle .postMeta-info {
  float: left;
}
.postSingle .postMeta-info span {
  margin-right: 15px;
}
.postSingle .postMeta-info span i {
  margin-right: 3px;
}
.postSingle .postMeta-date {
  float: right;
}
.postSingle .postMeta-date span i {
  margin-right: 3px;
}
.postSingle .postMedia {
  padding: 0;
}
.postSingle .postTags {
  margin-top: 30px;
}
.postSingle .postTags h4 {
  font-size: 14px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
  text-transform: capitalize;
}
.postSingle .postTags h4 i {
  margin-right: 5px;
}
.postSingle .postTags ul li a {
  background: #ed5f5e;
  color: #fff;
  display: inline-block;
  padding: 5px 12px;
  font-size: 11px;
  margin-bottom: 10px;
}
.entriesContainer {
  margin-top: 40px;
}
.entriesContainer .comments-list {
  padding: 0;
  margin-top: 40px;
}
.entriesContainer .comments-list .img {
  border: 2px solid #ed5f5e;
  color: #ed5f5e;
  float: left;
  height: 35px;
  width: 35px;
  line-height: 31px;
  margin-top: 5px;
  text-align: center;
}
.entriesContainer .comments-list .commentContent {
  margin-bottom: 15px;
  margin-left: 50px;
}
.entriesContainer .comments-list .commentContent p.expert {
  font-size: 13px;
  line-height: 23px;
  margin-top: 10px;
}
.entriesContainer .comments-list .commentContent .date a {
  color: #ed5f5e;
  font-size: 11px;
  display: inline-block;
}
.comment {
  padding: 20px 20px 50px;
  position: relative;
  background: #f8f8f8;
}
.comment.children {
  margin-top: 30px;
}
.comments a {
  display: inline-block;
}
.comments .author a {
  color: #434343;
}
.comments .replys {
  margin-left: 40px;
}
.comments .replys.children {
  margin-left: 80px;
}
.comments .reply-btn {
  float: right;
}
.comments .reply-btn a {
  color: #434343;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 12px;
}
/*Respond*/
.respond .replyForm input[type="text"],
.respond .replyForm input[type="email"],
.respond .replyForm textarea {
  background: #f8f8f8;
  border: 0 none;
  color: #434343;
  font-family: inherit;
  font-size: 13px;
  margin: 0 0 28px;
  outline: 0 none;
  padding: 12px 10px;
  resize: none;
  width: 100%;
  border: 1px solid #f2f2f1;
}
.respond .replyForm #success,
.respond .replyForm #error {
  display: none;
}
/*Sidebar*/
.widget {
  margin-bottom: 20px;
  background-color: #f8f8f8;
  padding: 25px 25px 12px;
}
.widget h4 {
  margin-bottom: 20px;
}
.widget .search-form {
  position: relative;
}
.widget .search-form input[type="text"] {
  border: none;
  padding: 12px 10px;
  font-size: 13px;
  width: 100%;
  background: #f8f8f8;
  border: 0 none;
  outline: 0;
  color: #434343;
  border: 1px solid #f8f8f8;
}
.widget .search-form .submit-search {
  border: medium none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 15px;
  font-weight: 600;
  color: #fff;
  background: #434343;
}
.widget .search-form .submit-search:hover {
  background: #ed5f5e;
}
.widget .cat-list li,
.widget .cat-archives li,
.widget .meta li {
  border-bottom: 1px solid #ebebeb;
  line-height: 30px;
  padding: 5px 0;
}
.widget .cat-list li a,
.widget .cat-archives li a,
.widget .meta li a {
  color: #909090;
  font-weight: 600;
}
.widget .cat-list li a:hover,
.widget .cat-archives li a:hover,
.widget .meta li a:hover {
  color: #ed5f5e;
}
.widget .cat-list li:last-child,
.widget .cat-archives li:last-child,
.widget .meta li:last-child {
  border-bottom: none;
}
.widget .cat-list li span.countCat {
  color: #ed5f5e;
  font-size: 12px;
}
.widget .meta abbr {
  color: #ed5f5e;
}
.widget .tag-list li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 1px;
}
.widget .tag-list li a {
  background: #eeeeee;
  color: #909090;
  font-weight: 600;
  display: inline-block;
  padding: 5px 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.widget .tag-list li a:hover {
  background: #ed5f5e;
  color: #fff;
}
.widget .cat-list li:last-child,
.widget .cat-archives li:last-child {
  border-bottom: medium none;
}
.widget .meta abbr {
  border-bottom: 1px dotted #434343;
  cursor: help;
}
.widget.widget-bottom {
  background-color: transparent;
}
.widget.widget-bottom h4 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
}
.widget.widget-bottom .cat-list li,
.widget.widget-bottom .cat-archives li,
.widget.widget-bottom .meta li {
  border-bottom: 0px;
}
.widget-search {
  padding: 0;
}
.pagination {
  border-radius: 0;
  margin-top: 0;
}
.pagination li:last-child a,
.pagination li:first-child a,
.pagination li:last-child span,
.pagination li:first-child span {
  border-radius: 0;
}
.pagination li a,
.pagination li span {
  color: #ed5f5e;
}
.pagination .active span {
  background-color: #ed5f5e;
  border-color: #ed5f5e;
}
.pagination .active span:focus,
.pagination .active span:hover {
  background-color: #ed5f5e;
  border-color: #ed5f5e;
}
@media screen and (max-width: 768px) {
  .blog-index {
    padding: 30px 0;
  }
}
@media screen and (max-width: 480px) {
  .postSingle .postMeta-info,
  .postSingle .postMeta-date {
    float: none;
  }
}
/*--------------------------------------------------
    19. Client
---------------------------------------------------*/
.client-item {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.client-item:hover {
  opacity: 1;
}
.client-item img {
  max-width: 120px;
  margin: 0 auto;
}
.client-type-2 .client-item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-left: 1px solid #cccccc;
}
.client-type-2 .client-item:last-child {
  border-right: 1px solid #cccccc;
}
.client-type-2 .client-item:hover {
  border-left: 1px solid rgba(204, 204, 204, 0.4);
}
.client-type-2 .client-item:hover:last-child {
  border-right: 1px solid rgba(204, 204, 204, 0.4);
}
.client-type-2 .client-item img {
  max-width: 120px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .client-type-2 .client-item {
    border: 1px solid #cccccc;
  }
}
/*--------------------------------------------------
    20. Contact
---------------------------------------------------*/
.contact-form {
  padding-top: 10px;
}
.contact-form .error {
  font-size: 11px;
  color: #ff0000;
  letter-spacing: 1px;
  display: none;
}
.contact-form #ajaxsuccess {
  background: #f5f5f5;
  padding: 10px 15px;
  color: #28a745;
  display: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.contact-form-item {
  margin-bottom: 20px;
}
.contact-form-item input[type="text"],
.contact-form-item input[type="password"],
.contact-form-item input[type="email"],
.contact-form-item textarea {
  background: #f5f5f5;
  border: none;
  resize: none;
  color: #000;
  font-size: 0.9em;
  width: 100%;
  padding: 10px 15px;
}
.contact-form-item input[type="text"]:focus,
.contact-form-item input[type="password"]:focus,
.contact-form-item input[type="email"]:focus,
.contact-form-item textarea:focus {
  outline: none;
}
.contact-form-item textarea {
  height: 160px;
}
.contact-form-item ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b3b3b3;
}
.contact-form-item :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b3b3b3;
  opacity: 1;
}
.contact-form-item ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b3b3b3;
  opacity: 1;
}
.contact-form-item :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b3b3b3;
}
.contact-form-button {
  margin-bottom: 0;
}
.contact-form-dark .contact-form-item input[type="text"],
.contact-form-dark .contact-form-item input[type="email"],
.contact-form-dark .contact-form-item input[type="password"],
.contact-form-dark .contact-form-item textarea {
  background: #5d5d5d;
  color: #fff;
}
.contact-info {
  padding-left: 30px;
}
.contact-info-icon {
  float: left;
  background-color: #ed5f5e;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  margin-right: 18px;
}
.contact-info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
}
.contact-info-text {
  font-size: 0.9em;
  padding-top: 5px;
  padding-left: 58px;
}
@media screen and (max-width: 768px) {
  .contact-info {
    padding-left: 0px;
  }
}
/*--------------------------------------------------
    21. Footer
---------------------------------------------------*/
.site-footer {
  background-color: #2a2a2a;
  padding: 20px 0px;
}
.site-footer .copyright {
  color: #909090;
  margin: auto;
  margin-top: 15px;
}
.site-footer .copyright a {
  color: #a9a9a9;
}
.site-footer .copyright a:hover {
  color: #ed5f5e;
}
.site-footer .social-icon {
  padding: 5px 0px;
}
.site-footer .social-icon a i {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #a9a9a9;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.site-footer .social-icon a:hover i {
  background-color: #ed5f5e;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .site-footer .pull-right {
    float: none !important;
  }
  .site-footer .copyright {
    display: block;
    width: 100%;
    padding-bottom: 15px;
  }
  .site-footer .social-icon {
    display: block;
    width: 100%;
  }
}
/*--------------------------------------------------
    22. Tabs
---------------------------------------------------*/
/*
 * Tabs
 */
.nav-tabs {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border: none;
}
.nav-tabs li {
  padding: 0 3px;
}
.nav-tabs li a {
  padding: 6px 20px 5px;
  text-decoration: none;
  background-color: #f8f8f8;
  color: #434343;
  border-radius: 0;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  background: #ed5f5e;
  color: #fff;
  cursor: default;
}
/*--------------------------------------------------
    23. Price
---------------------------------------------------*/
.price-item {
  background-color: #f8f8f8;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.price-item:hover {
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.price-item-header {
  background-color: #2a2a2a;
  padding: 5px 20px;
}
.price-item-header h4 {
  color: #fff;
  font-weight: 600;
}
.price-item-header-alt {
  background-color: #ed5f5e;
}
.price-item-price {
  padding: 30px 20px 20px;
}
.price-item-price .big {
  font-size: 56px;
  line-height: 1em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  color: #ed5f5e;
}
.price-item-price .big .currency {
  font-size: 40%;
  line-height: 1.7em;
  vertical-align: top;
}
.price-item-price .small {
  color: #000;
  font-weight: 600;
}
.price-item-features {
  padding: 20px 20px 0;
  text-transform: uppercase;
}
.price-item-features li {
  border-bottom: 1px dotted #dcdcdc;
  padding: 12px 0;
}
@media screen and (max-width: 768px) {
  .price-item:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/*--------------------------------------------------
    *. Owl Carousel
---------------------------------------------------*/
.owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border-radius: 0;
  border: 1px solid #434343;
  width: 12px;
  height: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #434343;
}
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ed5f5e;
  border: 1px solid #ed5f5e;
}
.owl-theme .owl-nav,
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 40px;
}
.owl-theme .owl-nav [class*=owl-] {
  background: transparent;
  padding: 0px;
  margin: 0 5px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}
.owl-theme .owl-nav [class*=owl-] i {
  font-size: 24px;
  width: 32px;
  height: 32px;
  line-height: 28px;
  text-align: center;
  color: #909090;
  background: #434343;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-theme .owl-nav [class*=owl-] i:hover {
  background: #ed5f5e;
  color: #fff;
}
/*For Darker Area*/
.owl-theme.white-color .owl-dots .owl-dot span {
  border: 1px solid #fff;
}
.owl-theme.white-color .owl-dots .owl-dot.active span {
  background: #fff;
}
.owl-theme.white-color .owl-dots .owl-dot:hover span {
  border: 1px solid #ed5f5e;
  background: #ed5f5e;
}
.owl-theme.white-color .owl-nav [class*=owl-] {
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-theme.white-color .owl-nav [class*=owl-]:hover {
  background: #ed5f5e;
}
.owl-theme.white-color .owl-nav [class*=owl-] i {
  color: #909090;
  background: #fff;
}
.owl-theme.white-color .owl-nav [class*=owl-] i:hover {
  background: #ed5f5e;
  color: #fff;
}
/*--------------------------------------------------
    **. Responsive {should come last}
---------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 991px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 991px), only screen and (min-device-pixel-ratio: 2) and (max-width: 991px), only screen and (min-resolution: 192dpi) and (max-width: 991px), only screen and (min-resolution: 2dppx) and (max-width: 991px) {
  -webkit-font-smoothing: subpixel-antialiased;
  .btn-main {
    font-size: 8px;
  }
}
